<title><%=title%></title>
<link rel="stylesheet" href="/css/home.css">

<div id="main">

    <div id="welcome">
        <div class="welcome-text">
            <p>We Revolutionize Infrastructure: <span>From Blueprints to Bytes</span></p>
            <a href="/project/community-engagement" class="welcome-button">View Projects</a>
        </div>
    </div>    

    <h2 id="cards-title">We are expert in this field</h2>
    
    <div id="cards">
        <div class="card">
            <h3>Professional Liability</h3>
            <p>Ensuring transparency and accountability in all builder-client communications.</p>
        </div>
        <div class="card">
            <h3>Dedicated To Clients</h3>
            <p>Streamlining project updates and feedback to keep clients informed and involved.</p>
        </div>
        <div class="card">
            <h3>Outstanding Services</h3>
            <p>Providing real-time progress updates, material management, and community engagement.</p>
        </div>
        <div class="card">
            <h3>Clients Satisfaction</h3>
            <p>Enhancing client satisfaction through efficient communication and collaborative feedback.</p>
        </div>        
    </div>
    
    <div id="home_links">
        <% if(locals.user){
            if (locals.user.role == 'builder') { %>
                <div class="home-links">
                    <p class="functionality"><a href="/functionality/portfolio">Portfolio</a></p>
                    <div class="description">
                        <p>An interactive platform where Builders and Clients
                            can communicate and collaborate on projects. 
                        </p>
                    </div>
                </div>
                <div class="home-links">
                    <p class="functionality"><a href="/functionality/add-project">Add Project</a></p>
                    <div class="description">
                        <p>Builders can add projects to their portfolio through which they
                            can communicate and share progress with Clients.</p>
                    </div>
                </div>
            <% } else if (locals.user.role == 'client') { %>
                <div class="home-links">
                    <p class="functionality"><a href="/functionality/portfolio">Portfolio</a></p>
                    <div class="description">
                        <p>An interactive platform where Builders and Clients
                            can communicate and collaborate on projects. 
                        </p>
                    </div>
                </div>
            <% } %>
            <div class="home-links">
                <p class="functionality"><a href="/project/community-engagement">Community Projects</a></p>
                <div class="description">
                    <p>Explore ongoing projects and engage with Builders and Clients. Local community members can also participate and provide feedback.</p>
            </div>
        <% } %>
    </div>
    
</div>